AI Gmail responder_ Draft email replies.json
{
  "name": "AI Gmail responder: Draft email replies",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        16
      ],
      "id": "fdb5c8b7-1057-4e14-b71b-9100031996ac",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KymaZU4gJk02UJXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25edbb31-4f95-4522-8418-dc78efab3b10",
              "leftValue": "={{ $json.output.needsReply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -16
      ],
      "id": "50754d3c-2a07-4ddd-aca3-bbd586c80381",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "html",
        "message": "={{ $json.text }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        0
      ],
      "id": "7cc206fd-2dac-4722-828e-0600d9abb844",
      "name": "Create a draft",
      "webhookId": "9f0bb145-e715-4ea9-b16b-4fb3e04c4beb",
      "credentials": {
        "gmailOAuth2": {
          "id": "KymaZU4gJk02UJXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generates a Reply",
        "height": 432,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -96
      ],
      "typeVersion": 1,
      "id": "34777b90-667f-4e53-b6eb-202116a31791",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## When we Receive an Email",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -96
      ],
      "typeVersion": 1,
      "id": "c5167461-9bc3-4053-9ced-e490c42b6c78",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.Subject }}\nMessage:\n{{ $json.snippet }} ",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "Your task is to determine whether a given message requires a response. If the message requires a response, return true in JSON format. If the message does not require a response, such as marketing or promotional emails, return false in JSON format. The output should only contain the JSON value (true or false) without any additional explanation."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        176,
        -16
      ],
      "id": "cd469202-198a-4fca-bcae-e4f70aa4b5b1",
      "name": "Evaluate need for reply"
    },
    {
      "parameters": {
        "content": "## Check if email requires response",
        "height": 416,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -96
      ],
      "typeVersion": 1,
      "id": "95b5ccc8-b4f9-41ce-b07f-e73a419486f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": {\n      \"type\": \"boolean\"\n      }\n  },\n  \"required\": [\"needsReply\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        192
      ],
      "id": "65996b4a-bbc1-4aab-94a6-b2491fc4920c",
      "name": "JSON Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "a2dfdf5f-ec19-4659-b0c6-334924b30ecb",
      "name": "Cohere Model",
      "credentials": {
        "cohereApi": {
          "id": "bs117kDwk2Yj0T6J",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "6cdce812-8ea8-40a2-a441-df99722f62ac",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "bs117kDwk2Yj0T6J",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Save as draft in conversation",
        "height": 320,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -96
      ],
      "typeVersion": 1,
      "id": "4f99cdb4-391b-4d65-87b8-cc0a5c13a486",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.Subject }}\nMessage: {{ $('Gmail Trigger').item.json.snippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "Prompt:\nYou are my personal assistant. Your task is to draft replies on my behalf to incoming emails. Whenever I provide the text of an email, return an appropriate draft reply and nothing else.\n\nGuidelines:\n\nKeep the tone professional yet warm and humanized, avoiding robotic or overly formal language.\nBe concise and clear while maintaining a business casual style.\nStart the reply with \"Hello,\" and end with a polite closing.\nFor yes/no questions, draft two responses: one affirmative and one negative, separated by \" - - - - - - - OR - - - - - - - \".\nIf information is missing or uncertain, use placeholders like [YOUR_ANSWER_HERE].\nDo not make up details.\nAlways reply in the same language as the original email.\nDo not include explanations, only provide the draft reply."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        816,
        0
      ],
      "id": "4b8e6f11-d919-4818-b9ca-88408d68d739",
      "name": "Create response",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Evaluate need for reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate need for reply": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Evaluate need for reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluate need for reply",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluate need for reply",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create response": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8efa1fd4-251b-4192-a86e-0628af489ab0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c773e69f48939816a2ee900409d085ffa2ea78674574d14783378173396e6ec"
  },
  "id": "iKHz7wrVn5v1eTNO",
  "tags": []
}